<div class="section-banner">
  <div class="container">
    <div class="section-banner__row">
      <div class="section-banner__col img">
        <img src="../../../assets/images/banner.jpg" alt="Section Image Banner">
      </div>
      <div class="section-banner__col info bg-brand">
        <h3 class="section-banner__heading">Why have a financial adviser?</h3>
        <p class="section-banner__desc">Haven was created out of the need to simply do things better. With specialist advisers across a range of financial services, we will offer you the best, practical advice for your unique situation.</p>
        <p class="section-banner__desc">Our financial advisers span the north and south island making us conveniently positioned wherever you need us.</p>
      </div>
    </div>
  </div>
</div>