<div class="contact-us">
  <div class="container">
    <div class="contact-us__content-holder">
      <div class="contact-us__row">
        <div class="contact-us__col form bg-brand">
          <div class="contact-us__text-holder">
            <h2 class="contact-us__title">Contact us today</h2>
            <p class="contact-us__desc">Brief intro paragraph about this section. Bis porepelent quam nam ut raeptam facillo riberum sitatur aut proreperiata volorer.</p>
          </div>

          <form class="contact-us__form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="contact-us__field-group">
              <input class="contact-us__input" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" formControlName="fullname" type="text" placeholder="Full name*">
              <input class="contact-us__input" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email" type="email" placeholder="Email address*">
              <input class="contact-us__input" type="tel" placeholder="Contact number">
            </div>
            <div class="contact-us__field-group">
              <select class="contact-us__select">
                <option value="" disabled selected>Book a meeting</option>
              </select>
              <select class="contact-us__select" [ngClass]="{ 'is-invalid': submitted && f['day'].errors }" formControlName="day">
                <option value="" disabled selected>Preferred day*</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
              </select>
              <select class="contact-us__select" [ngClass]="{ 'is-invalid': submitted && f['time'].errors }" formControlName="time">
                <option value="" disabled selected>Preferred time*</option>
                <option value="morning">Morning</option>
                <option value="afternoon">Afternoon</option>
              </select>
            </div>
            <textarea class="contact-us__textarea" rows="5" placeholder="Message"></textarea>
            <div class="contact-us__btn-holder">
              <input class="contact-us__btn" type="submit" value="Submit">
            </div>
          </form>
        </div>
        <div class="contact-us__col info">
          <h3 class="contact-us__section-title section-title">Contact us</h3>
          <ul class="contact-us__lists">
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                Find an adviser
              </a>
            </li>
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M416 176C416 78.8 322.9 0 208 0S0 78.8 0 176c0 39.57 15.62 75.96 41.67 105.4c-16.39 32.76-39.23 57.32-39.59 57.68c-2.1 2.205-2.67 5.475-1.441 8.354C1.9 350.3 4.602 352 7.66 352c38.35 0 70.76-11.12 95.74-24.04C134.2 343.1 169.8 352 208 352C322.9 352 416 273.2 416 176zM599.6 443.7C624.8 413.9 640 376.6 640 336C640 238.8 554 160 448 160c-.3145 0-.6191 .041-.9336 .043C447.5 165.3 448 170.6 448 176c0 98.62-79.68 181.2-186.1 202.5C282.7 455.1 357.1 512 448 512c33.69 0 65.32-8.008 92.85-21.98C565.2 502 596.1 512 632.3 512c3.059 0 5.76-1.725 7.02-4.605c1.229-2.879 .6582-6.148-1.441-8.354C637.6 498.7 615.9 475.3 599.6 443.7z"/></svg>
                Talk to an accountant
              </a>
            </li>
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5 450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8 511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352 472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1 206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120 512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02 287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0 288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8 255.5L575.8 255.5z"/></svg>
                Talk to a mortgage broker
              </a>
            </li>
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg>
                0800 700 699
              </a>
            </li>
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"/></svg>
                reception@havenadvisers.co.nz
              </a>
            </li>
            <li class="contact-us__list">
              <a class="contact-us__list-link" href="#">
                <svg class="contact-us__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
                Be a part of our Facebook community
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>